# Title: Week 5 3MTT Assignment
# Course: Data Analysis and Vizualization
# Question: Use pandas to clean and preprocess a messy dataset, documenting the steps taken during the cleaning process

# IMPORTING PANDAS LIBRARY

In [1]:
# Import pandas as pd
import pandas as pd

In [2]:
dataset = pd.read_csv("ST BATCH UPLOAD 1.csv")

In [3]:
dataset

,S/N,Account Name,phone number,ADDRESS,surname,First name,Other Names,DOB,GENDER,registration number,DEPARTMENT,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,1.0,Tchoupki Kambir Mabrouka Abdoolkarim,8.122090e+09,TAKA,Tchoupki kambir,Mabrouka,Abdoolkarim,10/05/2004,FEMALE,CLS/MBB/22/2003,MEDICINE & SURGERY,NaN,NaN,NaN,NaN
1,2.0,MOUSA MOUBARAK MAHAMAN SANI,9.161288e+09,"BOURJA,MARADI NIGER REPUBLIC",MOUSA MOUBARAK,MAHAMAN,SANI,19/6/1994,MALE,FCP/CCS/22/2010,CYBER SECURITY,NaN,NaN,NaN,NaN
2,3.0,GARBA MUHAMMAD AHMAD,8.102382e+09,HOUSE NO 2 ANGUWAR DANKAWU AZARE,GARBA,MUHAMMAD,AHMAD,18/7/2004,MALE,FASS/CSS/22/1191,SOCIOLOGY,NaN,NaN,NaN,NaN
3,4.0,IKECHUKWU NWANKWO JOHN,8.101325e+09,"RAFIN SANYI AREA, DUTSE",IKECHUKWU,NWANKWO,JOHN,03/06/2001,MALE,FSC/MTH/17/1049,MATHEMATICS,NaN,NaN,NaN,NaN
4,5.0,IBRAHIM ABUBAKAR,8.133055e+09,DANMASARA GARI DUTSE,IBRAHIM,ABUBAKAR,NaN,06/11/1999,MALE,FCP/CSE/22/2010,SOFTWARE ENGINEERING,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
232,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Displaying a data frame from the dataset
df = pd.DataFrame(dataset)

In [5]:
print(df)

     S/N                          Account Name  phone number  \
0    1.0  Tchoupki Kambir Mabrouka Abdoolkarim  8.122090e+09
1    2.0           MOUSA MOUBARAK MAHAMAN SANI  9.161288e+09
2    3.0                  GARBA MUHAMMAD AHMAD  8.102382e+09
3    4.0                IKECHUKWU NWANKWO JOHN  8.101325e+09
4    5.0                      IBRAHIM ABUBAKAR  8.133055e+09
..   ...                                   ...           ...
229  NaN                                   NaN           NaN
230  NaN                                   NaN           NaN
231  NaN                                   NaN           NaN
232  NaN                                   NaN           NaN
233  NaN                                   NaN           NaN

                              ADDRESS          surname First  name  \
0                                TAKA  Tchoupki kambir   Mabrouka
1        BOURJA,MARADI NIGER REPUBLIC   MOUSA MOUBARAK    MAHAMAN
2    HOUSE NO 2 ANGUWAR DANKAWU AZARE            GARBA    MUHAMMAD
3             RAFIN SANYI AREA, DUTSE        IKECHUKWU     NWANKWO
4                DANMASARA GARI DUTSE          IBRAHIM    ABUBAKAR
..                                ...              ...         ...
229                               NaN              NaN         NaN
230                               NaN              NaN         NaN
231                               NaN              NaN         NaN
232                               NaN              NaN         NaN
233                               NaN              NaN         NaN

     Other Names         DOB  GENDER registration number  \
0    Abdoolkarim  10/05/2004  FEMALE     CLS/MBB/22/2003
1           SANI   19/6/1994    MALE     FCP/CCS/22/2010
2          AHMAD   18/7/2004    MALE    FASS/CSS/22/1191
3           JOHN  03/06/2001    MALE     FSC/MTH/17/1049
4            NaN  06/11/1999    MALE     FCP/CSE/22/2010
..           ...         ...     ...                 ...
229          NaN         NaN     NaN                 NaN
230          NaN         NaN     NaN                 NaN
231          NaN         NaN     NaN                 NaN
232          NaN         NaN     NaN                 NaN
233          NaN         NaN     NaN                 NaN

               DEPARTMENT  Unnamed: 11  Unnamed: 12  Unnamed: 13  Unnamed: 14
0      MEDICINE & SURGERY          NaN          NaN          NaN          NaN
1          CYBER SECURITY          NaN          NaN          NaN          NaN
2               SOCIOLOGY          NaN          NaN          NaN          NaN
3             MATHEMATICS          NaN          NaN          NaN          NaN
4    SOFTWARE ENGINEERING          NaN          NaN          NaN          NaN
..                    ...          ...          ...          ...          ...
229                   NaN          NaN          NaN          NaN          NaN
230                   NaN          NaN          NaN          NaN          NaN
231                   NaN          NaN          NaN          NaN          NaN
232                   NaN          NaN          NaN          NaN          NaN
233                   NaN          NaN          NaN          NaN          NaN

[234 rows x 15 columns]

# HANDLING THE PROBLEM

In [6]:
# Find the missing values using any
df.isnull().any()

S/N                    True
Account Name           True
phone number           True
ADDRESS                True
surname                True
First  name            True
Other Names            True
DOB                    True
GENDER                 True
registration number    True
DEPARTMENT             True
Unnamed: 11            True
Unnamed: 12            True
Unnamed: 13            True
Unnamed: 14            True
dtype: bool

# DETECTING NaN VALUES

In [7]:
# Finding th missing values
missing_value = ["NaN","na","N/a","Null"]
dataset = pd.read_csv("ST BATCH UPLOAD 1.csv", na_values=missing_value)

In [8]:
df.isnull().sum()

S/N                    127
Account Name           127
phone number           127
ADDRESS                127
surname                127
First  name            127
Other Names            157
DOB                    127
GENDER                 127
registration number    127
DEPARTMENT             127
Unnamed: 11            234
Unnamed: 12            234
Unnamed: 13            234
Unnamed: 14            234
dtype: int64

In [9]:
# Removing the values
df

,S/N,Account Name,phone number,ADDRESS,surname,First name,Other Names,DOB,GENDER,registration number,DEPARTMENT,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,1.0,Tchoupki Kambir Mabrouka Abdoolkarim,8.122090e+09,TAKA,Tchoupki kambir,Mabrouka,Abdoolkarim,10/05/2004,FEMALE,CLS/MBB/22/2003,MEDICINE & SURGERY,NaN,NaN,NaN,NaN
1,2.0,MOUSA MOUBARAK MAHAMAN SANI,9.161288e+09,"BOURJA,MARADI NIGER REPUBLIC",MOUSA MOUBARAK,MAHAMAN,SANI,19/6/1994,MALE,FCP/CCS/22/2010,CYBER SECURITY,NaN,NaN,NaN,NaN
2,3.0,GARBA MUHAMMAD AHMAD,8.102382e+09,HOUSE NO 2 ANGUWAR DANKAWU AZARE,GARBA,MUHAMMAD,AHMAD,18/7/2004,MALE,FASS/CSS/22/1191,SOCIOLOGY,NaN,NaN,NaN,NaN
3,4.0,IKECHUKWU NWANKWO JOHN,8.101325e+09,"RAFIN SANYI AREA, DUTSE",IKECHUKWU,NWANKWO,JOHN,03/06/2001,MALE,FSC/MTH/17/1049,MATHEMATICS,NaN,NaN,NaN,NaN
4,5.0,IBRAHIM ABUBAKAR,8.133055e+09,DANMASARA GARI DUTSE,IBRAHIM,ABUBAKAR,NaN,06/11/1999,MALE,FCP/CSE/22/2010,SOFTWARE ENGINEERING,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
232,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
df.dropna()

Empty DataFrame
Columns: [S/N, Account Name, phone number, ADDRESS, surname, First  name, Other Names, DOB, GENDER, registration number, DEPARTMENT, Unnamed: 11, Unnamed: 12, Unnamed: 13, Unnamed: 14]
Index: []

In [11]:
df.dropna(how='all')

,S/N,Account Name,phone number,ADDRESS,surname,First name,Other Names,DOB,GENDER,registration number,DEPARTMENT,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,1.0,Tchoupki Kambir Mabrouka Abdoolkarim,8.122090e+09,TAKA,Tchoupki kambir,Mabrouka,Abdoolkarim,10/05/2004,FEMALE,CLS/MBB/22/2003,MEDICINE & SURGERY,NaN,NaN,NaN,NaN
1,2.0,MOUSA MOUBARAK MAHAMAN SANI,9.161288e+09,"BOURJA,MARADI NIGER REPUBLIC",MOUSA MOUBARAK,MAHAMAN,SANI,19/6/1994,MALE,FCP/CCS/22/2010,CYBER SECURITY,NaN,NaN,NaN,NaN
2,3.0,GARBA MUHAMMAD AHMAD,8.102382e+09,HOUSE NO 2 ANGUWAR DANKAWU AZARE,GARBA,MUHAMMAD,AHMAD,18/7/2004,MALE,FASS/CSS/22/1191,SOCIOLOGY,NaN,NaN,NaN,NaN
3,4.0,IKECHUKWU NWANKWO JOHN,8.101325e+09,"RAFIN SANYI AREA, DUTSE",IKECHUKWU,NWANKWO,JOHN,03/06/2001,MALE,FSC/MTH/17/1049,MATHEMATICS,NaN,NaN,NaN,NaN
4,5.0,IBRAHIM ABUBAKAR,8.133055e+09,DANMASARA GARI DUTSE,IBRAHIM,ABUBAKAR,NaN,06/11/1999,MALE,FCP/CSE/22/2010,SOFTWARE ENGINEERING,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,103.0,MUSTAPHA ABUBAKAR,9.078180e+09,"SHAGARI QUARTERS KUMBOTSO,KANO",MUSTAPHA,ABUBAKAR,NaN,19/11/2003,MALE,FSC/CHM/22/1121,CHEMISTRY,NaN,NaN,NaN,NaN
103,104.0,LAMIDO HABIBA USMAN,9.071518e+09,BAMAINA KOFAR FADA BIRNINKUDU L.G.A,LAMIDO,HABIBA,USMAN,26/6/2006,FEMALE,FED/ISL/22/1024,ISLAMIC STUDIES,NaN,NaN,NaN,NaN
104,105.0,MUSTAPHA TIJANI YUSUF,9.169315e+09,"NO 26 ,KAJOLA STREET OFF AIRPORT ROAD,ILORIN",MUSTAPHA,TIJANI,YUSUF,10/04/2003,MALE,FASS/ENG/22/1118,ENGLISH &LINGUISTICS,NaN,NaN,NaN,NaN
105,106.0,SULEIMAN SULEIMAN SHARIF,8.100039e+09,ABUBAKAR HOUSING RIMI ESTATE,SULEIMAN,SULEIMAN,SHARIF,11/02/2004,MALE,FASS/EDS/22/1168,ECONOMICS & DEVELOPMENTAL STUDIES,NaN,NaN,NaN,NaN
106,107.0,MAHMUD ABDALLAH SADIQ,9.133433e+09,DANGAN TSAURE PRIMARY SCHOOL DUTSE,MAHMUD,ABDALLAH,SADIQ,01/05/2002,MALE,FASS/LEN/22/1066,ENGLISH LINGUSITICS,NaN,NaN,NaN,NaN